.formContainer {
    padding: 20px 10px; 
    width: 400px;
    min-height: 450px;
    border-radius: 10px;
    background-color: rgba(241, 239, 239, 0.863);
}

.titleInput {
    font-size: 23px;
}

.textFieldBlock {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.textarea {
    min-width: 200px;
    max-width: 100%;
    min-height: 60px;
    max-height: 140px;
    margin-bottom: 20px;
    font-size: 20px;
}
.text {
    margin-bottom: 25px;
}

.h1 {
    display: flex;
    justify-content: space-around;
    color: rgb(54, 185, 42);
    font-weight: bold;
}

.h2 {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    margin-bottom: 15px;
}