// breakpoints
$bp-xs: 360px;
$bp-sm: 480px;
$bp-md: 768px;
$bp-lg: 1024px;
$bp-xl: 1280px;

.mapContainer {
  width: 450px;
  height: 468px;
  display: flex;
  flex-direction: column;
  align-items: start;

  @media (max-width: $bp-lg) {
    width: 400px;
    height: 400px;
  }
  @media (max-width: $bp-md) {
    width: 90%;
    height: auto;
  }
  @media (max-width: $bp-sm) {
    width: 95%;
  }
  @media (max-width: $bp-xs) {
    width: 96%;
  }
}

.map {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;

  @media (max-width: $bp-md) {
    height: 300px;
  }
  @media (max-width: $bp-sm) {
    height: 250px;
  }
  @media (max-width: $bp-xs) {
    height: 200px;
  }
}

.iconMessage,
.location {
  width: 24px;
  height: 24px;
  margin-right: 10px;

  @media (max-width: $bp-xs) {
    width: 20px;
    height: 20px;
  }
}

.messageUs,
.locationMe {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  @media (max-width: $bp-md) {
    justify-content: center;
    text-align: center;
  }
}
